.container {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(240, 238, 238);
  }
  .leftSide {
      height: 400px;
      width: 200px;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 50px;
      margin-top: -20px;
      justify-content: space-evenly;
    
  }
  .rightSide {
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 20px;
        padding-bottom:10px;
        
  }
  #btn {
      margin-top: 40px;
      margin-bottom: -30px;
      width: 200px;
      height: 40px;
      margin-left: 130px;
  }